.player {
  max-width: 750px;
  margin: 20px auto;
  border: 2px solid #333;
  background: #222;
  color: white;
  font-family: sans-serif;
}

.viewer {
  width: 100%;
  display: block;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.player__button,
.skip {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 16px;
}

.player__slider {
  margin: 0 10px;
  cursor: pointer;
}

.progress {
  flex: 1;
  height: 10px;
  background: #555;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.progress__filled {
  width: 0%;
  background: #f00;
  flex: 0;
  height: 100%;
  transition: width 0.1s linear;
}
